* {
  margin:0;
  padding:0;
}

body {
  font-family:"omnes-pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:18px;
}

a {
  text-decoration:none;
  color:#4088cb;
}

.spacer {
  clear:both;
}