#page {
  width:100%;
}

header {
  padding:27px 30px 25px;
  background:#242c3b;
}

.l-site-logo {
  float:left;
}

.l-inline {
  display:inline-block;
}

.l-inline ul > li {
  display:inline-block;
}

.l-stacked > * {
  display:block;
}

.l-popup {
  position:relative;
}

.l-grid > li {
  display: inline-block;
  margin: 0 10px 10px 0;
  // IE7 hack to mimic inline-block on block elements
  *display: inline;
  *zoom: 1;
}

.l-separator {
  display:block;
  height:1px;
  background:#c7d2e2;
}