@import "bourbon/bourbon";

$darkblue:#003165;

// Buttons

.btn {
  background:#4088cb;
  color:#fff;
  padding:0.6em 1em;
  display:inline-block;
  @include border-top-radius(4px);
  @include border-bottom-radius(4px);
  @include border-left-radius(4px);
  @include border-right-radius(4px);
}

.full {
  display:block;
}

// Main navigation

.main-nav {
  float:right;
}

.main-nav ul > li {
  margin:8px 16px;
}

.main-nav li a, .main-nav .l-popup > a:hover {
  font-size:1.3em;
  color:#626c82;
}

.main-nav li a:hover {
  color:#fff;
}

.main-nav .l-popup > a {
  position:relative;
  z-index:3;
  cursor:default;
}

.main-nav .l-popup > a small {
  font-size:0.7em;
  margin-left:4px;
}

.main-nav .l-popup:hover .l-stacked a:hover {
  color:$darkblue;
}

.main-nav .l-popup:hover .l-stacked {
  display:block;
}

.main-nav .l-stacked {
  display:none;
  padding-top:42px;
  position:absolute;
  top:-7px;
  left:-16px;
  z-index:2;
  background:#fff;
  @include border-top-radius(4px);
  @include border-bottom-radius(4px);
  @include border-left-radius(4px);
  @include border-right-radius(4px);
  @include box-shadow(0 1px 4px 0 rgba(0,0,0,0.3));
}

.main-nav .l-stacked > li {
  margin:0 16px 8px;
}

// Tagline

.tagline {
  padding:30px;
  background:#ee7c48;
  font-size:3em;
  font-weight:300;
  text-align:center;
  color:#fff;
}

.tagline small {
  font-size:0.8em;
}

.tagline a {
  display:inline-block;
  margin-right:10px;
  padding:0 18px 13px;
  background:rgba(0,0,0,0.2);
  color:inherit;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include border-right-radius(5px);
}

.tagline a:hover {
  background:rgba(0,0,0,0.5);
}

// Home player demo

.demo-player {
  padding:30px 0;
  width:90%;
  margin:0 auto;
  max-width:1200px;
}

.demo-sidebar-1 {
  float:left;
  width:22%;
  text-align:center;
}

.demo-sidebar-1 h3 {
  font-size:2.4em;
  padding-top:30%;
}

.demo-sidebar-1 h3 em {
  display:block;
  font-size:0.42em;
  padding:5px 30px;
  color:#7690B3;
}

.demo-video-player {
  width:50%;
  float:left;
  margin:0 3%;
  position:relative;
}

.demo-video-player h3 {
  position:absolute;
  width:44%;
  left:-50%;
  padding-top:1%;
  text-align:right;
  font-size:1.2em;
}

.demo-video-actions li {
  display:block;
  float:left;
  width:23%;
  margin:2.6666666667% 2.6666666667% 0 0;
  text-align:center;
}

.demo-video-actions li:nth-child(4n) {
  margin-right:0;
}

.demo-video-actions li a {
  display:block;
  height:46px;
  background:rgba(56,82,124,0.5);
  line-height:46px;
  font-size:0.9em;
  font-weight:500;
  color:#fff;
  @include border-top-radius(4px);
  @include border-bottom-radius(4px);
  @include border-left-radius(4px);
  @include border-right-radius(4px);
}

.demo-video-actions li.active a {
  background:#242c3b;
}

.demo-features-list p {
  padding:20px 0 8px;
}

.demo-features-list ul {
  line-height:35px;
  @include columns(2 2em);
}

.demo-features-list li {
  font-weight:500;
}

.demo-sidebar-2 {
  float:right;
  width:22%;
}

.demo-choose-design li {
  margin:15px 0;
}

.demo-choose-design a {
  width:96px;
  height:54px;
  display:block;
  border:3px solid $darkblue;
  line-height:54px;
  text-align:center;
  font-weight:500;
  color:$darkblue;
  @include border-top-radius(6px);
  @include border-bottom-radius(6px);
  @include border-left-radius(6px);
  @include border-right-radius(6px);
}

.demo-choose-design li.active a {
  background:$darkblue;
  color:#fff;
}

.demo-box {
  background:#fff;
  padding:15px;
  margin:35px 0;
  text-align:center;
  @include box-shadow(0 1px 2px 0 rgba(0,0,0,0.15))
}

.demo-box p {
  font-size:1.2em;
  padding:5px 0 10px;
}

.demo-box p:first-child {padding-top:0;}

.demo-box .l-separator {
  margin:10px 0 5px;
}
